body {
	background-color: #c11415;
	font-weight: bold;
}

.basic-style {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: white;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.half-width {
	width: 50% !important;
}

.menu-item {
	height: 30px;
	width: 30px;
}

.hangman {
	height: 200px;
	width: 200px;
}

.gametitle {
	font-size: 40px;
}

.player {
	border: solid;
	border-radius: 30px;
}

.playerscore {
	font-size: 30px;
}

.iterationButton {
	background: white;
	border-radius: 5px;
	border: white;
	max-width: 25px;
}

.rank {
	display: block;
}

.hidden-word {
	font-size: 200%;
}

.ui-g-12 {
	padding: .2em;
}

.spotlight{
	margin: 140px 0;
}

.btn-config {
	max-width: 150px;
	height: 40px;
}	

@media only screen and (max-width: 600px) {
    .hangman {
        height: 150px;
		width: 150px;
    }
    
    .rank {
    	display: none;
    }
}    
